@font-face {
   font-family: "Franklin Gothic Demi Cond";
   src: url("fonts/Franklin Gothic Demi Cond.woff") format("woff"), url("fonts/Franklin Gothic Demi Cond.eot") format("embedded-opentype"), url("fonts/Franklin Gothic Demi Cond.TTF") format("truetype"), url("fonts/Franklin Gothic Demi Cond.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}